a {
    text-decoration:none;
    color:blue;
}

html {
    font-family: "Droid Sans", sans-serif;
}

html, [draggable], .card {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#chat-messages, #number, #name {
    -webkit-touch-callout: default;
    -webkit-user-select: element;
    -khtml-user-select: element;
    -moz-user-select: element;
    -ms-user-select: element;
    user-select: element;

  -moz-user-select: element;
  -khtml-user-select: element;
  -webkit-user-select: element;
  user-select: element;
}

#chat-messages .error {
    color: #F66;
}

#chat-messages .ok {
    color: green;
}

#clear-game, #help-scores, #clear-hand, #show-hand, #give-trick, #take-trick, #deal-2, #deal-3, #make-deck, #cut-deck {
    white-space:pre-wrap;
}

[draggable] {
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#help-scores, #help-turn {
    font-size:small
}

body {
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    justify-content:safe center;
}

#opponents-and-baize, #partner-outer {
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    justify-content:safe center;
}

@media (max-width: 940px) {
    body {
        justify-content:start;
    }
}

#menu, #panel {
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:column;
    flex-direction:column
}

button {
    margin: 0.25em 0;
    min-height:3em;
    background:#AFA;
    border:1px solid gray;
}

button:hover {
    background:#FD7;
    cursor:pointer
}


#hand {
    background:#EEC;
    font-size:0;
    border-radius:4px;
    display:inline-block;
    padding:2px;
    margin:10px;
    white-space:pre;
    box-shadow:0 0 2px gray
}

#baize {
    height:400px;
    width:400px;
    background:#292;
    font-size:0;
    border:1px solid black;
    border-radius:10px;
    padding:2px;
    margin:10px;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    white-space:pre;
    box-shadow:0 0 5px black
}

#hand-left-placeholder, #hand-right-placeholder {
    height:200px;
    width:85px;
    font-size:0;
    margin:2px;
    position:relative;
    display:inline-block;
    border-radius: 3px;
    box-shadow: 0 0 3px green; 
}

#hand-left, #hand-right {
    height:195px;
    width:80px;
    font-size:0;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:inline-block;
}

#hand-partner-placeholder {
    height:85px;
    width:200px;
    font-size:0;
    margin-top:2px;
    margin-bottom:2px;
    margin-left: 20px;
    position:relative;
    display:inline-block;
    border-radius: 3px;
    box-shadow: 0 0 3px green;
}

#your-tricks-placeholder, #opponents-tricks-placeholder {
    height:85px;
    width:205px;
    font-size:0;
    margin: 2px;
    position:relative;
    display:inline-block;
    border-radius: 3px;
    box-shadow: 0 0 3px green;
}

#hand-partner {
    height:80px;
    width:195px;
    font-size:0;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:inline-block;
}

#your-tricks, #opponents-tricks {
    height:80px;
    width:200px;
    font-size:0;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:inline-block;
}
/* cards are multiples of 11x16 px */
#hand .card-placeholder {
    height: 128px;
    width: 88px;
}

.card-partner, .card-trick {
    height: 80px;
    width: 55px;
    position: absolute;
    left: 0%;
    top: 0%;
}

.card-opponent {
    height: 80px;
    width: 55px;
    transform: translateY(55px) rotate(-90deg);
    transform-origin: top left;
    position: absolute;
    left: 0%;
    top: 0%; 
}

.card {
    display: inline-block;
    width: 88px;
    height: 128px;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 5%;
    text-align: center;
    font-size:1rem;
    cursor:pointer
}

.card:hover {
    filter: brightness(0.9)
}

.card-image{
    width: 100%;
    height: 100%;
    vertical-align:middle;
}
	     
.card-name {
    display: none;
}


@keyframes highlight {
    0% {
        background:red;
        color:white;
    }

    100% {
        background:white
    }
}


#chat-messages.blink {
    animation:chat-blink 1s
}

#chat-messages .info {
    color:gray;
    font-style:italic;
}

span.blink {
    animation:span-blink 1s
}

@keyframes chat-blink {
    0% {
        background:rgba(255, 255, 150, 0);
    }

    50% {
        background:rgba(255, 255, 150, 1);
    }

    100% {
        background:rgba(255, 255, 150, 0);
    }
}

@keyframes span-blink {
    0% {
        background:rgba(100, 255, 150, 0);
    }

    50% {
        background:rgba(100, 255, 150, 1);
    }

    100% {
        background:rgba(100, 255, 150, 0);
    }
}

.card-target {
    box-shadow: 0 0 0 2px red !important
}

#hand .card-placeholder {
    position:relative;
    margin-left:1px;
    margin-right:1px;
    display:inline-block;
    vertical-align:middle;
    border-radius:5px;
    background:#CCA;
}

#panel {
    -webkit-justify-content:center;
    justify-content:center;
    text-align:center
}

#deck, #hand-outer, #opponents-and-baize, #partner-outer, #opponent-left-outer, #opponent-right-outer, #actions, #deck-actions {
    -webkit-align-self:center;
    align-self:center;
    text-align:center;
}

#opponent-right-outer {
    z-index:-1;
}

#p-name, .tricks-text {
    text-align:center;
    font-size:small
}

.minibutton {
    padding:0;
    min-height:0;
    font-size:small
}

.msg-sender {
    color:blue;
}

#chat-messages {
    overflow:auto
}

#deck {
    width:88px;
    height:128px;
    background:url(cards/back.svg) no-repeat;
    background-size:100% 100%;
    transform: rotate(90deg);
    border-radius: 5px;
    margin: -20px;
}

#deck:hover {
    cursor:pointer;
    filter: brightness(0.9)
}

#chat-messages {
    border:1px solid silver;
    box-sizing:border-box;
    width: 100%;
    margin-bottom:1px;
    height:15em;
}

#chat-ta {
    width:100%;
    box-sizing:border-box;
    height:3em
}

#team-scores {
    font-size:small;
    border-collapse:collapse;
    margin:0 auto 1ex auto;
}

#team-scores th, #team-scores td {
    border:1px solid gray;
    padding:0.33ex 0.5ex
}

#team-scores .score-cell > span {
    display:inline-block;
    min-width:2.5em;
}

#team-scores .score-cell > span:hover, .turn-cell button:hover {
    cursor:pointer;
    background:#FFA
}

#team-scores .score-cell button {
    min-height: auto;
    font-size:x-small;
    padding:0 0.5ex;
    margin:0;
    background:#CCC;
    color:back;
    border:0;
}

#team-scores .score-cell button:hover {
    background:#DDD;
}

#team-scores th {
    font-weight:normal;
    background:#EEE;
    font-size:smaller
}

@media screen and (max-height:650px) {
    /* #board td , #rack .tile-placeholder {
        height:28px;
        width: 28px;
    } */
}
@media screen and (max-height:600px) {
    /* #board td , #rack .tile-placeholder {
        height:24px;
        width: 24px;
    } */
}

@media screen and (max-height:550px) {
    /* #chat-messages {
        height:7em;
    } */
}

#prefs-sound {
    margin:1ex 0 0 0;
}

#prefs-sound p {
    margin:0;
    padding:0;
    font-size:small;
}

#lang-selection {
    font-size:small;
}

#prefs-sound input, #prefs-sound label {
    vertical-align:middle;
}
